edition: 1.0.0
name: {{appName}}-website
vars:
  domain: {{domain}}
  {{appName}}SourceCode: {appName}}
services:
  api:
    component: jamstack-api
    actions:
      pre-deploy:
        - run: npm i
          path: ${vars.{{appName}}SourceCode}
    props:
      sourceCode: ${vars.{{appName}}SourceCode}
      route:
        - / 
  